<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Developed By Layona&Corvus</title>
  
  <!-- HTML -->
  

  <!-- Custom Styles -->
  <link rel="stylesheet" href="/css/ekip.css">
</head>

<body>
  <div id="card" class="card">
    <div class="card-title">
    <img id="cardImage" class="cardImage" src="<%= developer_1_avatar %>">
    <h1><%= developer_1_name %></h1>
    </div>
    
  </div>
    <div id="card" class="card">
    <div class="card-title">
    <img id="cardImage" class="cardImage" src="<%= developer_2_avatar %>">
    <h1><%= developer_2_name %></h1>
    </div>
    
  </div>
    <script src="/css/ekip.js"></script>
</body>
</html>
