<!DOCTYPE html>
<html lang="tr">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Enigma</title>

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="./css/codeCategory.css">
  <link rel="stylesheet" href="./css/style.css">

  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

  <!-- 
    - preload images
  -->
  <link rel="preload" as="image" href="./assets/images/hero-banner.png">

</head>
<body id="top">
<section class="section service" id="service" aria-label="service">
        <div class="container">

          <p class="section-subtitle has-before text-center">Code Category</p>

    
            <br>
          <ul class="grid-list">

            <li>
              <div class="service-card" style="--color: 174, 77%, 50%">

                <div class="card-icon">
                  <img src="https://cdn-icons-png.flaticon.com/512/103/103077.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="/category/Html" class="card-title">Html</a>
                </h3>

              </div>
            </li>
          
          <ul class="grid-list">

            <li>
              <div class="service-card" style="--color: 174, 77%, 50%">

                <div class="card-icon">
                  <img src="https://cdn.iconscout.com/icon/free/png-256/css-37-226088.png" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="/category/Css" class="card-title">Css</a>
                </h3>

              </div>
            </li>
                      <ul class="grid-list">

            <li>
              <div class="service-card" style="--color: 174, 77%, 50%">

                <div class="card-icon">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA-WpgpNL4vT3gZsk_-BEqmEX5r189GHTM2w&usqp=CAU" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="/category/Javascript" class="card-title">JavaScript</a>
                </h3>

              </div>
             </li>
                       <ul class="grid-list">

            <li>
              <div class="service-card" style="--color: 174, 77%, 50%">

                <div class="card-icon">
                  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvrr5XyYhKOacU3YDw-rFRgIG6etFyRLVyww&usqp=CAU" width="30" height="30" loading="lazy"
                    alt="service icon">
                </div>

                <h3 class="h3">
                  <a href="/category/Golang" class="card-title">Golang</a>
                </h3>
              </div>
            </li>
          </div>
            </section>
            </body>