<!DOCTYPE html>
<html>
  <head>
<link rel="stylesheet" href="./css/code-banner.css">
  </head>
<figure class="snip1336">
  <img src=enis.jpg alt="sample87" />
  <figcaption>
    <img src="<%= user.user.avatar %>" class="profile" />
   <h2><%= user.user.username %></h2>
     </html>
