<!DOCTYPE html>
<html lang="tr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/code.css" />
    <link rel="stylesheet" href="/css/prism.css" />

    <title>Frontendist</title>
  </head>
  <body>
    <div class="container">
      <div class="code-wrapper">
        <pre>
            <code id="code" class="language-css">
              <%= code.codeText %>
            </code>
        </pre>
        <button id="copy-button">Copy</button>
      </div>
    </div>
            </code>
        </pre>
        <button id="copy-button">Copy</button>
      </div>
    </div>

    <script src="/js/main.js" defer></script>
    <script src="/js/prism.js"></script>
  </body>
</html>
